.list-map-container{
  display: flex;
  width: 100vw;
  height: auto;
}

.list-containers {
  display: flex;
  flex-direction: row;
  height: 620px;
  overflow: scroll;
}
.map-container {
width: 800px;

}

.sweet-loading {
  background-color: $off-black;
  height:100vh;
  display: flex;
align-items: center;
justify-content: center;
}
