

.button-filter{
  font-size: 15px;
  width: 100px;
  height: 25px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.header {
font-size: 50px;
font-family: fantasy;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
